
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald&display=swap');
body {
    margin: 0px;
    background-image: url("../media/background.png");
    background-size: 50%;
    opacity: 1;
    font-family: 'EB Garamond', serif;
    font-size: large;
 }

 body h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
 }

 body nav {
    font-family: 'Oswald', sans-serif;
 }

.menu {
    overflow: hidden;
    background-color: #404040;
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
}

.menu li {
    display: inline-block;
}
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.menu a:hover {
    background: #ddd;
    color: black;
}

#logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100px;
}

.right {
    float: right;
    padding-right: 40px;
    padding-top: 20px;
}

.left {
    padding-top: 20px;
}

.main {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

#columna-der {
    border-left: 3px solid #F2F7F9;
}

#mantener {
    
    position: fixed;
}

#crea-partida {
    border-left: 3px solid #F2F7F9;
}

.gamebox {
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 30px;
    border-top: 2px solid black;
}

.about {
    font-style: italic;
}

.director {
    color: blueviolet;
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.director .director-desc {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
      
.director .director-desc::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.director:hover .director-desc {
    visibility: visible;
    opacity: 1;
  }

  #boton-unir {
      margin-top: 20px;
  }

  input, label {
    display:block;
}

.jugador {
    color: lightsalmon;
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.jugador .jugador-desc {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
      
.jugador .jugador-desc::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.jugador:hover .jugador-desc {
    visibility: visible;
    opacity: 1;
  }

  #log {
      padding-bottom: 50px;
  }

  .centrar {
    margin: 0 auto;
    width:25% /* value of your choice which suits your alignment */
}

.masthead {
    height: 100vh;
    max-height: 600px;
    background-image: url('../media/banner.jpg');
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .titulo {
      font-size: 500%;
      color: white;
      text-shadow: 3px 5px 2px #000000, 13px 9px 3px rgba(0,0,0,0.12);
  }

  .subtitulo {
    font-size: 250%;
    font-style: italic;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-shadow: 1px 5px 5px black;
    ;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    opacity: 0.9;
    background-color: brown;
}

.footer span {
    text-align: center;
    font-weight: bold;
    color: white;
}

.navbar {
    padding-left: 7%;
    padding-right: 7%;
}